/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

    .forms-title-changer {
        margin-left: 200px;
        margin-top: 50px;
   
    }

    .input-form {
      
    }

    .formulier {
        margin-top: 20px;
        margin-bottom: 20px;
    }